<form [formGroup]="myform">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="first name">first name</label>
        <input type="text" formControlName="firstname" >
      </div>
      <div class="form-group col-md-6">
        <label for="last name">last name</label>
        <input type="text" formControlName="lastname" >
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">username</label>
          <input type="text" formControlName="username" >
        </div>
        <div class="form-group col-md-6">
          <label for="Password4">last name</label>
          <input type="password" formControlName="password" >
        </div>
      </div>
   
    <button type="button" (click)="onClick()" class="btn btn-primary">register</button>
  </form>
