<div class="container bg-primary border border-dark rounded col-lg-3" >
<form  [formGroup]="form" class="form-wrapper">
        
                <div >
                  <label >name of player1</label>
                  <input type="text" class="form-control" id="player1" formControlName="player1">
                  
                </div>
                <div >
                  <label >name of player1</label>
                  <input type="text" class="form-control" id="player2" formControlName="player2">
                </div>
               
                <div class="text-center">
                  <button (click)="onClick()" type="button" class="btn btn-dark">Add players</button>
                </div>
</form>
</div>
<br>
<br>
<br>


<div *ngIf="flag1">
<div class="bg-light border border-dark rounded" >
  <div class="row">
    <div class="col-lg-6 border border-dark">
       player1: {{players[1].playerName}}
       <br>
       score: {{players[1].scor}}
    </div>   
    <div class="col-lg-6 border border-dark">
       player2: {{players[2].playerName}}
       <br>
       score:{{players[2].scor}}
    </div>
  </div>
</div>  
  <div class="text-center">    
      <button (click)="RandomRoll()" type="button" class="btn btn-dark">roll the dice</button>  
</div>
</div>
<br>
<br>